.label {
    -fx-text-fill: #252525;

    -fx-pref-width: 110;
    -fx-pref-height: 110;
    -fx-alignment: center;
    -fx-font-family: "Arial";
    -fx-font-weight: 700;
    -fx-font-size: 20;
}

#score {
    -fx-background-color: transparent;
    -fx-pref-height: 50;
    -fx-pref-width: 500;
    -fx-font-weight: 700;
    -fx-font-size: 20;
}